 
 /*CONF. GERAIS*/
*{  margin: 0;
    padding: .5rem;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%; 
}
body {
    background-color: rgb(24, 22, 22);
    font-family: "Poppins", serif;
    font-style: normal;
}


/*CAIXA 1*/
.init-box {
    padding: 1.5rem;
background-color: #242525;
border-radius: .8rem;
width: 30rem;
height: 18rem;
}

.button1{
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-left: 1rem;
}
.button1 a{
    font-size: 1.5rem;
    color: white;
    text-decoration-line: none;
}
.button1 img{
    width: 3rem;
    height: 3rem;
}
.logospace img {
    margin-left: 1rem;
    filter: invert(100%) grayscale(75%);
    width: 10rem;
}