 
 /*CONF. GERAIS*/
*{  margin: 0;
    padding: .5rem;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%; 
}
body {
    overflow-y: hidden;
    line-height: ;
    background-color: rgb(10, 10, 10);
    font-family: "Poppins", serif;
    font-style: normal;
    display: grid;
    grid-template-areas: 
    "init search search"
    "playlist music music"
    "playlist music music";
    grid-template-columns:30rem 80rem ;
    grid-template-rows: 8rem 1rem 6rem; /* Altura fixa para header e footer */
    height: 100vh; /* Ocupa toda a tela */
    gap: 1.8rem;
    padding: 2rem;}


/*CAIXA 1*/
.init-box {
display: inline-block;
grid-area: init;
padding: 1.5rem;
background-color: #242525;
border-radius: .8rem;
width: 30rem;
height: 18rem;
}

.button1{
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-left: 1rem;
    margin-right: 10rem;
}
.button1 a{
    font-size: 1.3rem;
    color: white;
    text-decoration-line: none;
}
.button1 img{
    width: 2.5rem;
    height: 2.5rem;
}
.logospace img {
    margin-left: 1rem;
    filter: invert(100%) grayscale(75%);
    width: 10rem;
}

/* PLAYLISTS*/ 

.library{   
    margin-top: 10rem;
    text-align: center; 
    grid-area: playlist;
    background-color: #242525;
    border-radius: .8rem;
    width: 30rem;
    height: 32rem;
}

.library h1{
    color: whitesmoke;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    font-size: 1.6rem;
}
.library p{
    color: whitesmoke;
    font-size: 1.3rem;
}
.boxplay{
    display: inline-block;
    text-align: center;
    width: 25rem;
    height: 15rem;
    border-radius: .8rem;
    background-color: #373838;
}
.button2{
    margin-top: 2.5rem;
    display: inline-block; /* Ou block */
    padding: 1rem 3rem; /* Tamanho do botão */
    background-color: #000000; /* Cor de fundo */
    border: none; /* Sem borda */
    border-radius: 2.5rem; /* Bordas arredondadas */
    font-size: 1.4rem;
    cursor: pointer;
}
.button2 a{
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
}
.but-lang{
    display: flex;
 
    align-items: center; /* Alinha verticalmente */
    margin-left: 4.3rem;
    margin-top: 8rem;
    width: 18rem;
    height: 3rem;
    border: .2rem solid whitesmoke; 
    border-radius: 2.5rem; /* Bordas arredondadas */
    font-size: 1.4rem;
    cursor: pointer;
}
.but-lang a{
    font-size: 1.3rem;
    color: white;
    text-decoration-line: none;
}
.but-lang img{
    width: 2.5rem;
    height: 2.5rem;
}

/*CAIXA PESQUISA*/

.searchbox {
    overflow: hidden;
    display:inline-flex;
    align-items: center; /* Alinha verticalmente */
    grid-area: search;
    gap: 1rem;
    width: 85rem;
    max-width: 90rem;
    height: 7rem;
    border-radius: .8rem;
    background-color: #242525;
}
.arrow a{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
}
.arrowb {
    padding: .4rem 1rem;
    margin-left: .5rem;
    background-color: #080808;
    border-radius: 1rem;
}
.searchbar{
    display:inline-flex;
    align-items: center; /* Alinha verticalmente */

}
.searchbar img{
    width: 3rem;
    height: 3rem;
}

.search-box{
    display: flex;
    text-align: center;
    margin-left: .5rem;
    all: unset;
    width: 20rem;
    color: whitesmoke;
    border-radius: .8rem;
    background-color: rgb(23, 24, 24);
}

.button3{
    
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-left: 20rem;
}
.button3 a{
    font-size: 1.3rem;
    color: white;
    text-decoration-line: none;
}
.button4{
    display: inline-block; /* Ou block */
    padding: 1rem 3rem; /* Tamanho do botão */
    background-color: #000000; /* Cor de fundo */
    border-radius: 2.5rem; /* Bordas arredondadas */
    font-size: 1.4rem;
    cursor: pointer;
}
.button4 a{
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
}



/*caixa musicas*/

.musicbox{ 
overflow-x: hidden;
overflow-y:visible;
background-color: #242525;
height: 42rem;
width: 85rem;
border-radius: .8rem;
}

.musicbox h1, h2{
    line-height: 1.6rem;
    padding-bottom: 1.5rem;
    color: whitesmoke;
}

.gridmusic{
    overflow-x: hidden;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 1rem;
    margin-top: 2.5rem;
}
.music{
    all: unset;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(63, 126, 207)  ;
    border-radius: .8rem;
    width: 15rem;
    height: 14rem;
}
.music h1{
    margin-top: .5rem;
    margin-left: .5rem;
    display: flex;
    font-size: 1.8rem;
    color: whitesmoke   ;
}
.music img{
    display: flexbox;
    margin-left: 6.5rem;
    margin-top: 1rem;
    transform: rotate(30deg);
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    image-rendering: optimizeQuality;
}
/*CORS DO BACKGROUND MUSICAS*/
.music:nth-child(1) { background-color: #FF5733; } /* Vermelho */
.music:nth-child(2) { background-color: #9fac32; }
.music:nth-child(3) { background-color: #ff3392; }
.music:nth-child(4) { background-color: #33d182; }
.music:nth-child(5) { background-color: #92311b; }
.music:nth-child(6) { background-color: #3633ff; }
.music:nth-child(7) { background-color: #6a1a99; }
.music:nth-child(8) { background-color: #a3a116; }
.music:nth-child(9) { background-color: #4c804f; }
.music:nth-child(10) { background-color: #972e8e; }
.music:nth-child(11) { background-color: #7c2828; }
.music:nth-child(12) { background-color: #4bc2a4; }
.music:nth-child(13) { background-color: #FF5733; }
.music:nth-child(14) { background-color: #6a96c9; }
.music:nth-child(15) { background-color: #ff33aa; }


.footer{
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Espaço entre os elementos */
    gap: 20px; /* Espaço entre o título e o botão */
    padding: 20px;
    bottom: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(to left, #1a89ff, #5f27c7);
    width: 100%;
    height: 5rem;
}
.footer h1{
    margin-right: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.button5{
    display: inline-block; /* Ou block */
    background-color: #ffffff; /* Cor de fundo */
    border: none; /* Sem borda */
    border-radius: 2.5rem; /* Bordas arredondadas */
    font-size: 1.3rem;
    cursor: pointer;
}
.button5 a{
    color: rgb(8, 4, 4);
    font-weight: 600;
    text-decoration: none;
}
.button5:hover {
background-color: #18b969;
}